.top-nav {
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    color: var(--white);
    margin-bottom: 1rem;
}

.top-nav__right {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.top-nav__right--contact {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.top-nav__right--contact i {
    font-size: 2.6rem;
    color: var(--yellow);
}

.top-nav__right--contact p {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.top-nav__right--contact p span:last-child {
    font-weight: bold;
}

.top-nav__right .menu__login-submit {
    display: none;
}

.top-nav__left {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.top-nav__left a {
    display: inline-block;
    transition: all 0.5s;
    position: relative;
}

.top-nav__left a::before {
    content: '';
    position: absolute;
    bottom: -0.75rem;
    right: 0;
    width: 0;
    height: 2px;
    background-color: var(--yellow);
    transition: all 0.5s;
}

.top-nav__left a:hover {
    filter: brightness(70%);
}

.top-nav__left a:hover::before {
    width: 100%;
}

@media (max-width:992px) {

    .top-nav {
        width: 85%;
        margin: 0 auto;
    }

    .top-nav__right--contact {
        display: none;
    }

    .top-nav__right .menu__login-submit {
        display: block;
        font-size: 1.6rem;
    }
}

@media (max-width:992px) {
    .top-nav {
        width: 100%;
    }
}